@model PortfolioMe.Models.Education

<style>
    body {
        font-family: 'Times New Roman', serif;
    }
</style>

<ul>
    <li>@Model.degree</li>
    <ul>
        <li>Institiute: @Model.institution</li>
        <li>Year: 2025</li>
        <li>Group: @Model.group</li>
        <li>CGPA: @Model.result</li>
    </ul>
    <li>@Model.degree</li>
    <ul>
        <li>Institiute: @Model.institution</li>
        <li>Year: 2019</li>
        <li>Group: @Model.group</li>
        <li>GPA: @Model.result</li>
    </ul>
    <li>@Model.degree</li>
    <ul>
        <li>Institiute: @Model.institution</li>
        <li>Year: 2017</li>
        <li>Group: @Model.group</li>
        <li>GPA: @Model.result</li>
    </ul>
</ul>
